*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #121212;
  color: white;
}
/* -----------HEADER------------ */
.encabezado{
  display: flex;
}
.contenido{
  display: flex;
  background-color: aqua;
  height: 100px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.logito{
  margin: 10px;
  padding: 10px;
  height: auto;
}
.piggy{
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
}
.pig a{
  font-style: italic;
  text-decoration: none;
  margin: 0 10px;
}
/* -------------SECCION PRINCIPAL------------ */
/* Sección contenedora */
.principal {
  position: relative;
  width: 100%;
  height: 100vh; /* ocupa toda la altura de la pantalla */
  overflow: hidden;
}
.video-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: none; /* recorta el video para que llene el fondo */
  opacity: 0.5;
  z-index: -2; /* el video queda detrás */
}
.overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); /* negro con 50% opacidad */
  z-index: -1; /* encima del video, pero detrás del texto */
}
.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}


