.app {
  min-height: 100vh;
  background: black;
  color: white;
  text-align: center;
  padding-bottom: 40px;
}

.title {
  font-size: 3rem;
  font-weight: 900;
  color: red;
  margin-top: 20px;
}

.subtitle {
  opacity: 0.7;
  margin-bottom: 20px;
}

.selected-info {
  margin-top: 20px;
  padding: 10px;
}

.selected-info h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
